<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <p>{{res_code}}</p>
  <p>{{error_message}}</p>
  <body>
    <form name="payment_form" id="payment_form" action="{{ BankURL }}" method="get">
      <input type="hidden" name="RefID" id="RefID" value="{{ RefID }}">
      <input type="text" name="" value="">
      <input type="submit" value="Submit">
    </form>
    <!--
    <script type="text/javascript">

      document.getElementById('payment_form').submit()
    </script>
    -->
  </body>
</html>
