<div class="container">
    <form action="{% url 'polls:register' %}" method="post">
        {% csrf_token %}
                    {% if error_message %}
                        <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                    {% endif %}
{{form.first_name}}                
{{form.last_name}}
{{form.phone_number}}
{{form.email}}
{{form.student_card_image}}
{{form.university}}                  
{{form.password}}          
        <input type="submit" value="ثبت‌نام" class="btn btn-success">

    </form>
</div>
