#body
{
    font-weight:700;
    margin:0px;
    overflow:auto;
    background-color:rgb(239, 239, 245);
    
}

@font-face
{
    font-family: 'yekan';
    font-style: normal;
	font-weight: 300;
    src:url(yekan.eot?#) format('embedded-opentype'),    
          url(yekan.woff) format('woff'),
          url(yekan.ttf) format('truetype'); 
}


#header
{
    /* background-image:url("Amazing Cityscapes HD Wallpapers (Downloadha (36).jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */

    border-bottom:2px solid #E5E7E9;

    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;



    /* padding-top:60px; */
    font-family: 'yekan';
    font-size : 50px;
    width:100%;
    height:100%;
    min-height:250px;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    /* margin:auto; */
    background-color:white;
}

#text_header
{
    vertical-align:middle;
    text-align:center;
    display:table-cell;
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content
{
    display:table;
    font-family: 'yekan';
    font-size : 50px;
    border:2px solid #E5E7E9;
    border-top:none;
    /* padding:15px; */
    /* border-bottom:0px; */
    /* border:none; */
    width:94%;
    /* min-height:1000px; */
    height:auto;
    text-align:center;
    vertical-align:middle;
    line-height:50px;
    margin:auto;
    /* margin-bottom: 20px; */
    /* margin-left:5px; */
    background-color:white;
}

#right_menu
{
    font-family: 'yekan';
    line-height:50px;
    /* font-size : 50px; */
    text-align:center;
    vertical-align:middle;
    width:20%;
    float:right;
    background-color:orange;

}

#item1 
{
    border:1px solid rgb(144, 148, 151, 0.3);
    border-right:none;
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:italic;
}

#item2
{
    font-family:'yekan';
    border:1px solid rgb(144, 148, 151, 0.3);
    border-right:none;
    border-left:none;
    text-align:center;
    font-size:15px;
    /* font-weight:900; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-style:italic; */
}

#item3
{
    border:1px solid rgb(144, 148, 151, 0.3);
    margin-right:60px;
    text-align:center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-style:italic; */
    font-size:15px;
    color:#52BE80;
}

#fixed_menu
{
    background-color:rgb(0,0,0,0.7);
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10, #a11, #a12, #a13, #a14, #a15, #a16, #a17, #a18, #a19
{
    background-color:white;
    border-radius:0px;
    font-weight:700;
    text-align:right;
    border-bottom:1px solid #E5E7E9;
    /* border:none; */
}
#a1:hover, #a2:hover, #a3:hover, #a4:hover, #a5:hover, #a6:hover, #a7:hover, #a8:hover, #a9:hover, #a10:hover, #a11:hover, #a12:hover
, #a13:hover, #a14:hover, #a15:hover, #a16:hover, #a17:hover, #a18:hover, #a19:hover 
{
    background-color:rgb(197, 233, 230);
    transition-duration:0.5s;
}

#side_menu
{
    border-radius:0px;
    border:none;
    font-size:20px;
    width:100%;
    font-family:'yekan';
    text-align:right;
}

#main_content
{
    border-radius:0px;
    /* height:600px; */
    width:80%;
    display:inline-block;
    font-family:'yekan';
    text-align:right;
    border-right:2px solid #E5E7E9;
    /* border-bottom:none; */
    /* border-right:0px; */
    /* background-color:red; */
}

#footer
{
    height:auto;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:24px;
    line-height:50px;
    display:table;
    padding:40px;
    width:94%;
    margin:auto;
    background-color:rgb(22, 114, 99);
    border:2px solid #E5E7E9;
    border-top:none;
    border-bottom:none;
    /* margin-bottom:10px; */
}

#tag1
{
    margin-right:15px;
    font-size:14px;
    background-color:cadetblue;
    color:black;
}

#tag2
{
    margin-right:5px;
    font-size:14px;
    color:black;
    background-color:cadetblue;
}

#c_divider
{
    font-family:'yekan';
    color:black;
}

#text_content
{
    /* background-color:green; */
    font-weight: 500;
    color:black;
    width:100%;
    /* display:table; */
    height:auto;
    font-size:21px;
    padding:40px;
    /* float:right; */
    text-align:right;
}

#o_list
{
    text-align:right;
}

.span_first
{
    font-size : 28px;
    /* color:#E67E22; */
}

.span_second
{
    font-weight:500;
    font-size:18px;
}

#i0, #i21
{
    color:#2874A6;
}

#i1
{
    color:#117A65;
}

#i2
{
    color:red;
}

#i3
{
    color:#AAB7B8;
}

#i4
{
    color:#D4AC0D;
}

#i5
{
    color:#34495E;
}

#i6, #i19
{
    color:goldenrod;
}

#i7
{
    color:#1ABC9C;
}

#i8
{
    color:crimson;
}

#i9
{
    color:#616A6B;
}

#i10
{
    color:#F39C12;
}

#i11
{
    color:black;
}

#i12
{
    color:#2874A6;
}

#i13
{
    color:crimson;
}

#i14
{
    color:#1ABC9C;
}

#i15
{
    color:red;
}

#i16
{
    color:#F4D03F;
}

#i17
{
    color:#34495E;
}

#i18
{
    color:black;
}

#i20
{
    color:#F39C12;
}

#i22
{
    color:#212F3C;
}

@media screen and (max-width:530px)
{

    #right_menu
    {
        width:30%;
    }

    #main_content
    {
        width:70%;
    }

    #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10, #a11, #a12, #a13, #a14, #a15, #a16, #a17, #a18, #a19
    {
        font-weight:900;
        font-size:15px;
        text-align:center;
    }

    #text_content
    {
        font-size:16px;
    }

    .span_first
    {
        font-size : 25px;
    }
    
    .span_second
    {
        font-size:15px;
    }

}



@media screen and (max-width:190px)
{

    #right_menu
    {
        width:50%;
    }

    #main_content
    {
        width:50%;
    }

    #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10, #a11, #a12, #a13, #a14, #a15, #a16, #a17, #a18, #a19
    {
        font-weight:900;
        font-size:15px;
        text-align:center;
    }

    #text_content
    {
        font-size:14px;
        font-weight:700;
    }

    .span_first
    {
        font-size : 20px;
        font-weight:900;
    }
    
    .span_second
    {
        font-size:14px;
        font-weight:700;
    }

    #tag1
    {
        margin-right:15px;
        font-size:10px;
    }

    #tag2
    {
        margin-right:5px;
        font-size:10px;
    }

}