{% load static %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>مسابقات ملی دانشجویی مکانیک سیالات</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'HomepageStyle.css' %}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        {% block styles %}
        {% endblock styles %}

    </head>





    <body>





        <div class="ui right sidebar inverted vertical menu">

            <a class="item" href="{% url 'index' %}" id="a1_m">
                <i class="home icon" id="i1_m"></i> صفحه ی اصلی
            </a>
            
            <a class="item" id="a2_m">
                <i class="tasks icon" id="i0_m"></i> برنامه ی مسابقات
            </a>

            <!-- <a class="item" id="a3_m">
                <i class="check icon" id="i2_m"></i> اهداف
            </a> -->

            <a class="item" id="a4_m">
                <i class="history icon" id="i3_m"></i> تاریخچه
            </a>

            <!-- <a class="item" id="a6_m">
                <i class="users icon" id="i5_m"></i> اعضای هیئت امنا
            </a> -->

            <div class="item" style="
    background-color:white;
    color:black;
    font-family:Yekan;
    border-radius:0px;
    font-weight:500;
    text-align:right;
    border-bottom:1px solid #E5E7E9;
    transition-duration:0.4s;
    direction:rtl;
    font-size:14px;">
                    <div class="header">محور های مسابقات</div>
                    <div class="menu">
                      <a class="item" href="{% url 'clipart' %}" style="color: black">نماهنگ</a>
                      <a class="item" href="{% url 'virtual_lab' %}" style="color: black">آزمایشگاه مجازی</a>
                      <a class="item" href="{% url 'idea_show' %}" style="color: black">ایده شو</a>
                      <div class="item">
                        <div class="header" style="color: black">پروژه عملی</div>
                        <div class="menu">
                            <a class="item" href="{% url 'project' %}" style="color: black">ساخت وسیله آزمایشگاهی</a>
                            <a class="item" href="{% url 'hovercraft' %}" style="color: black">طراحی و ساخت هاورکرافت</a>
                        </div>
                      </div>
                    </div>
                  </div>
            

            <!-- <a class="item" id="a5_m">
                <i class="file alternate outline icon" id="i4_m"></i> آیین نامه
            </a> -->

            <!-- <a class="item" id="a8_m">
                <i class="dollar sign icon" id="i7_m"></i> حامیان
            </a> -->

            <!-- <a class="item" id="a9_m">
                <i class="flag icon" id="i8_m"></i> کمیته های مسابقات<i class="angle left icon" id="i8_m_corner"></i>
            </a> -->

            <!-- <a class="item" id="a10_m">
                <i class="balance scale icon" id="i9_m"></i> قوانین داوری<i class="angle left icon" id="i9_m_corner"></i>
            </a> -->

            <!-- <a class="item" id="a11_m">
                <i class="paint brush icon" id="i10_m"></i> مسابقه ی طراحی لوگو
            </a> -->

            <!-- <a class="item" id="a12_m">
                <i class="pencil alternate icon" id="i11_m"></i> ثبت نام اولیه<i class="angle left icon" id="i11_m_corner"></i>
            </a> -->
            
            <!-- <a class="item" id="a13_m">
                <i class="id badge icon" id="i12_m"></i> ثبت نام نهایی
            </a> -->

            <a class="item" id="a14_m">
                <i class="gift icon" id="i13_m"></i> جوایز مسابقات
            </a>

            <a class="item" href="{% url 'calendar' %}" id="a15_m">
                <i class="calendar alternate icon" id="i14_m"></i> تقویم مسابقات
            </a>

            <a class="item" id="a16_m">
                <i class="map marker alternate icon" id="i15_m"></i> نقشه ی دانشگاه
            </a>

            <a class="item" id="a17_m">
                <i class="map icon" id="i16_m"></i> نقشه ی محل اسکان
            </a>

            <a class="item" href="{% url 'poster' %}" id="a18_m">
                <i class="image icon" id="i17_m"></i> پوستر و لوگو
            </a>

            <a class="item" href="{% url 'contactus' %}" id="a19_m">
                <i class="phone icon" id="i18_m"></i> تماس با ما
            </a>


        </div>






        <div id="fixed_menu">

            <i class="bars icon" id="icon_bars_fm"></i>

            <div class="ui large pointing dropdown link item" id="home_fm" href="#">
                <span id="home_span">
                <i class="angle down icon" id="icon_home"></i>
                خانه
                </span>
                <div class="menu" id="home_menu">
                    <a class="item item_home" href="#bottom_content">اعضای هیئت امنا</a>
                    <a class="item item_home" href="#location">برگزارکننده</a>
                    <a class="item item_home" href="#hamian">حامیان</a>
                </div>
            </div>

            <!-- <a id="sign_fm" href="#">
                ثبت نام
            </a>

            <a id="login_fm" href="#">
                ورود
            </a> -->

        </div>






        <!-- <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui text container">

            </div>

        </div> -->

        <div id="header">
            <!-- <div id="text_header">
                پنجمین دوره ی مسابقات ملّی دانشجویی مکانیک سیالات
            </div> -->
        </div>












        
        <div id="content">

        

        

            <div id="left_content">

                <div class="ui raised segment" id="location">

                    <h2 id="h_location"><i class="check circle icon"></i> &nbsp&nbspبرگزار کننده</h2>

                    <img class="ui centered medium image" id="location_img" src="{% static 'shiraz.png' %}">
                    <h5 style="color:rgb(10, 10, 187);width: 90%;text-align:center; margin: 15px auto;font-family:Yekan;font-size:16px;">بخش مهندسی راه، ساختمان و محیط زیست</h5>
                    <div class="ui divider"></div>

                    <div id="address">

                    : آدرس&nbsp&nbsp
                        <i class="map marker alternate icon" id="i19"></i>
                        <br>
                        
                        <div id="address_span">
                            شیراز – خیابان زند - دانشکده مهندسی ۱ - بخش مهندسی راه، ساختمان و محیط زیست 
                        </div>
    
                        <div id="link_location">
                            <a href="https://goo.gl/maps/b3bdVHnMxKLZ749i6" target="blank">
                                <div class="image">
                                    <img id="location_shiraz" src="{% static 'location3.png' %}">
                                </div>
                            </a>
                        </div>
    
                    </div>
<!-- 
                    <br>
                    <div class="ui divider"></div> -->
    
                    <!-- <div id="phone_number">
    
                        : شماره تلفن دبیرخانه
                        &nbsp;
                        <i class="phone icon" id="i2" style="color:cadetblue;"></i></i>
                        <br>
                        <span style="font-size: 16px; font-weight: normal">شنبه تا چهارشنبه از ساعت 12 الی 16</span>
                        <br>
                        
                        <div id="phone_span">
                            36474028 (071)
                        </div>
    
                    </div>
    
                    <div class="ui divider"></div>
    
                    <div id="fax">
                        : فاکس
                        &nbsp
                        <i class="fax icon" id="i3"></i></i>
                        <br>
                        
                        <div id="fax_span">
                            36474027 (071)
                        </div>
    
                    </div>

                    <div class="ui divider"></div>
                    <div id="contact_us">

                        : پست الکترونیک
                        &nbsp;
                        <i class="envelope icon" id="icon_mobile"></i>
                        <br>
    
    
                        <div id="email_span">
                            <i class="paper plane icon"></i>
                            &nbsp;&nbsp;
                            5sfmc@shirazu.ac.ir
                        </div>
    
                    </div> -->







                </div>

            </div>


            <div id="main_content">

                <!-- <div class="ui piled segment" id="content_main_content">

                    <h2 id="header_main_content">

                        <i class="history icon" id="history_icon_header"></i> تاریخچه

                    </h2>

                    <div class="ui divider"></div>

                    

                    به دلیل اهمیت افزایش ارتباط 
                    میان مباحث نظری و عملی که یکی از نکات مهم در علوم کاربردی همچون علوم مهندسی است، جرقه 
                    اولیه مسابقات دانشجویی مکانیک سیالات به همت دکتر محمدرضا چمنی و همکاری اعضاء هیات موسس
                    و هیات امنای مسابقات زده شد. اولین و چهارمین  دوره مسابقات ملی دانشجویی مکانیک سیالات 
                    به میزبانی دانشگاه صنعتی اصفهان در سال های 1394 و 1397به دبیری دکتر محمدرضا چمنی برگزار گردید. 
                    دوره ی دوم مسابقات در سال 1395 در دانشگاه اصفهان و به دبیری دکتر احمد شانه ساز زاده عضو هیئت علمی 
                    دانشگاه اصفهان و دوره ی سوم این مسابقات نیز در سال 1396به میزبانی دانشگاه شهید باهنر کرمان و به دبیری 
                    دکتر علی محبی عضو هیئت علمی دانشگاه شهید باهنر کرمان برگزار گردید. دوره ی پنجم مسابقات در سال 1398 به 
                    میزبانی دانشگاه شیراز و به دبیری دکتر سید محراب امیری عضو هیئت علمی دانشگاه شیراز برگزار خواهد شد
                

                </div> -->

                <div class="ui piled segment" id="content_main_content_second">
                    
                    {% block content %}
                    {% endblock content %}

                </div>

            </div>


            <div id="main_content2">

                <div class="ui piled segment" id="content_main_content2">

                </div>

            </div>











            <div id="left_content2">

                <div class="ui piled segment" id="location2">

                    <h2 id="h_location2"><i class="check circle icon"></i> &nbsp&nbspبرگزار کننده</h2>

                    <img class="ui centered medium image" id="location_img2" src="{% static 'shiraz.png' %}">
                    <h5 style="color:rgb(10, 10, 187);width: 90%;text-align:center; margin: 15px auto;font-family:Yekan;">بخش مهندسی راه، ساختمان و محیط زیست</h5>
                    
                    <div class="ui divider"></div>

                    <div id="address2">

                        : آدرس&nbsp&nbsp
                        <i class="map marker alternate icon" id="i19_2"></i>
                        <br>
                        
                        <div id="address_span2">
                                شیراز – خیابان زند - دانشکده مهندسی ۱ - بخش مهندسی راه، ساختمان و محیط زیست
                        </div>
    
                        <div id="link_location2">
                            <a href="https://goo.gl/maps/b3bdVHnMxKLZ749i6" target="blank">
                                <div class="image">
                                    <img id="location_shiraz2" src="{% static 'location3.png' %}">
                                </div>
                            </a>
                        </div>
    
        
                    </div>
    
                </div>

            </div>






            <div id="right_menu">

                <div class="ui vertical menu" id="side_menu">

                    <a class="item" href="{% url 'index' %}" id="a1">
                        <i class="home icon" id="i1"></i> صفحه ی اصلی
                    </a>

                    <a class="item" id="a2">
                        <i class="tasks icon" id="i0"></i> برنامه ی مسابقات
                    </a>

                    <!-- <a class="item" id="a3">
                        <i class="check icon" id="i2"></i> اهداف
                    </a> -->

                    <a class="item" href="{% url 'history' %}" id="a4">
                        <i class="history icon" id="i3"></i> تاریخچه
                    </a>

                    <!-- <a class="item" id="a6">
                        <i class="users icon" id="i5"></i> اعضای هیئت امنا
                    </a> -->

  <div class="item">
        <div class="header">محور های مسابقات</div>
        <div class="menu">
          <a class="item" href="{% url 'clipart' %}">نماهنگ</a>
          <a class="item" href="{% url 'virtual_lab' %}">آزمایشگاه مجازی</a>
          <a class="item" href="{% url 'idea_show' %}">ایده شو</a>
          <div class="item">
            <div class="header">پروژه عملی</div>
            <div class="menu">
                <a class="item" href="{% url 'project' %}">ساخت وسیله آزمایشگاهی</a>
                <a class="item" href="{% url 'hovercraft' %}">طراحی و ساخت هاورکرافت</a>
            </div>
          </div>
        </div>
      </div>

                    <!-- <a class="item" id="a5">
                        <i class="file alternate outline icon" id="i4"></i> آیین نامه
                    </a> -->

                    <!-- <a class="item" id="a8">
                        <i class="dollar sign icon" id="i7"></i> حامیان
                    </a> -->

                    <!-- <a class="item" id="a9">
                        <i class="flag icon" id="i8"></i> کمیته های مسابقات<i class="angle left icon" id="i8_corner"></i>
                    </a> -->

                    <!-- <a class="item" id="a10">
                        <i class="balance scale icon" id="i9"></i> قوانین داوری<i class="angle left icon" id="i9_corner"></i>
                    </a> -->

                    <!-- <a class="item" id="a11">
                        <i class="paint brush icon" id="i10"></i> مسابقه ی طراحی لوگو
                    </a> -->

                    <!-- <a class="item" id="a12">
                        <i class="pencil alternate icon" id="i11"></i> ثبت نام اولیه<i class="angle left icon" id="i11_corner"></i>
                    </a> -->
                    
                    <!-- <a class="item" id="a13">
                        <i class="id badge icon" id="i12"></i> ثبت نام نهایی
                    </a> -->

                    <a class="item" id="a14">
                        <i class="gift icon" id="i13"></i> جوایز مسابقات
                    </a>

                    <a class="item" href="{% url 'calendar' %}" id="a15">
                        <i class="calendar alternate icon" id="i14"></i> تقویم مسابقات
                    </a>

                    <a class="item" id="a16">
                        <i class="map marker alternate icon" id="i15"></i> نقشه ی دانشگاه
                    </a>

                    <a class="item" id="a17">
                        <i class="map icon" id="i16"></i> نقشه ی محل اسکان
                    </a>

                    <a class="item" href="{% url 'poster' %}" id="a18">
                        <i class="image icon" id="i17"></i> پوستر و لوگو
                    </a>

                    <a class="item" href="{% url 'contactus' %}" id="a19">
                        <i class="phone icon" id="i18"></i> تماس با ما
                    </a>

                    

                </div>

    
            </div>
            
           


        </div>





        <div class="ui piled segment" id="middle_content">

            <h2 id="header_middle_content">
                
                <i class="history icon"></i>
                &nbsp
                دوره های پیشین مسابقات

            </h2>

            <div id="content_middle_content">

                <div class="competitions">

                    <a href="http://sfmc2015.iut.ac.ir/web/guest/home"><img class="ui centered image" src="{% static 'comp1.jpg' %}"></a>

                </div>

                <div class="competitions">

                    <a href="http://2sfmc.ui.ac.ir:81/fa/"><img class="ui centered image" src="{% static 'comp2.jpg' %}"></a>

                </div>

                <div class="competitions">

                    <a href="http://3sfmc.uk.ac.ir/fa/"><img class="ui centered image" src="{% static 'comp3.jpg' %}"></a>

                </div>

                <div class="competitions">

                    <a href="http://4sfmc.iut.ac.ir/fa/"><img class="ui centered image" src="{% static 'comp4.jpg' %}"></a>

                </div>

            </div>
    
        </div>
    
    
    



        <div id="bottom_content">

            <div id="first_user">

                <h2 id="header_users">
                    اعضای هیئت امنا
                    &nbsp
                    <i class="users icon"></i>
                </h2>

                <!-- <div class="ui card" id="card1">///

                    <div class="image">
                        <img src="1.jpg" id="img_card1">
                    </div>

                    <div class="content" id="first_card_content">
                        <div class="header" id="name_card1">دكتر محمدرضا چمنی &nbsp<i class="user icon" id="icon_user_card1"></i></div>
                        <div class="ui divider" id="di1"></div>
                        <div class="description" id="description_card1">
                        دانشگاه صنعتی اصفهان<br>
                        دانشکده مهندسی عمران
                        </div>
                    </div>///

                </div> -->



            </div>

            <div id="other_users" dir="rtl">

                <div class="member">

                    <img class="ui centered image" src="{% static 'omana1.jpg' %}">
                    <i class="user icon"></i>
                    دکتر محمد رضا چمنی
                    <br>
                    <span>
                        دانشگاه صنعتی اصفهان
                        <br>
                        دانشکده مهندسی عمران
                    </span>

                </div>
        
                <div class="member">

                    <img class="ui centered image" src="{% static 'omana2.jpg' %}">
                    <i class="user icon"></i>
                    دكتر احمد شانه ساز زاده
                    <br>
                    <span>
                        دانشگاه اصفهان
                        <br>
                        دانشکده مهندسی عمران و حمل و نقل
                    </span>

                </div>
        
                <div class="member">

                    <img class="ui centered image" src="{% static 'omana3.jpg' %}">
                    <i class="user icon"></i>
                    دكتر علی محبی
                    <br>
                    <span>
                        دانشگاه شهید باهنر کرمان
                        <br>
                        دانشکده مهندسی شیمی
                    </span>

                </div>

                <div class="member">

                        <img class="ui centered image" src="{% static 'omana11.jpg' %}">
                        <i class="user icon"></i>
                        مهندس سید حامد حسینی
                    </div>

                <div class="member">

                    <img class="ui centered image" src="{% static 'omana6.jpg' %}">
                    <i class="user icon"></i>
                    دكتر امیرحسین سعیدی دهاقانی
                    <br>
                    <span>
                        دانشگاه تربیت مدرس
                        <br>
                        دانشکده مهندسی شیمی
                    </span>

                </div>

                <div class="member">

                    <img class="ui centered image" src="">
                    <i class="user icon"></i>
                    دکتر رویا شادمانی
                    <br>
                    <span>
                        دانشگاه آزاد اسلامی واحد تهران شمال
                        <br>
                        گروه مهندسی مکانیک
                    </span>

                </div>

                <div class="member">

                    <img class="ui centered image" src="{% static 'omana4.jpg' %}">
                    <i class="user icon"></i>
                    دكتر محمد جواد عابدینی
                    <br>
                    <span>
                        دانشگاه شیراز
                        <br>
                        بخش مهندسی راه، ساختمان و محیط زیست
                    </span>

                </div>
            
                
                <div class="member">

                    <img class="ui centered image" src="{% static 'omana9.jpg' %}">
                    <i class="user icon"></i>
                    دکتر محمد فغفور مغربی
                    <br>
                    <span>
                        دانشگاه فردوسی مشهد
                        <br>
                        گروه مهندسی عمران
                    </span>

                </div>

                <div class="member">

                    <img class="ui centered image" src="{% static 'omana7.jpg' %}">
                    <i class="user icon"></i>
                    دكتر رامتین معینی
                    <br>
                    <span>
                        دانشگاه اصفهان
                        <br>
                        دانشکده مهندسی عمران و حمل و نقل
                    </span>

                </div>

                <div class="member">

                    <img class="ui centered image" src="{% static 'omana10.jpg' %}">
                    <i class="user icon"></i>
                    دکتر سید محراب امیری
                    <br>
                    <span>
                        دانشگاه شیراز
                        <br>
                        بخش مهندسی راه، ساختمان و محیط زیست
                    </span>
    
                </div>

                <div class="member">

                    <img class="ui centered image" src="{% static 'omana8.jpg' %}">
                    <i class="user icon"></i>
                    دکتر کامران عاصمی
                    <br>
                    <span>
                        دانشگاه آزاد اسلامی واحد تهران شمال
                        <br>
                        گروه مهندسی مکانیک
                    </span>

                </div>
                
                <div class="member">

                    <img class="ui centered image" src="{% static 'omana5.jpg' %}">
                    <i class="user icon"></i>
                    دكتر وحید نورانی
                    <br>
                    <span>
                        دانشگاه تبریز
                        <br>
                        دانشکده مهندسی عمران
                    </span>

                </div>


            <div id="hamian" dir="rtl">

                <h2 id="header_hamian">

                    <!-- <i class="handshake outline icon"></i> -->
                    حامیان

                </h2>

                <div id="hamian_content">


                    <div class="sponsor">

                        <img class="ui centered image" style="width:200px !important;" src="{% static 'moavenat.png' %}">

                        <!-- <div>
                            معاونت علمی و فناوری ریاست جمهوری
                        </div> -->

                    </div>
            
                    <div class="sponsor">

                        <img class="ui centered image" style="width:210px !important;" src="{% static 'marine_industrial3.png' %}">

                        <div>
                            سازمان صنایع دریایی
                        </div>

                    </div>
        
                    <div class="sponsor">

                        <img class="ui centered image" style="width:210px !important;" src="{% static 'idro4.png' %}">

                        <div>
                            سازمان گسترش و نوسازی صنایع ایران
                        </div>

                    </div>
    
                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'nokhbegan.png' %}">

                    </div>
                                                        
                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img">
                            <img src="shiraz.png" class="hamian_card_logo">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه شیراز</div>
                        </div>

                    </div> -->

                    <!-- <div class="sponsor">

                        <img class="ui centered image" src="shiraz.png">

                    </div> -->
                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img">
                            <img src="isfahan.png">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه اصفهان</div>
                        </div>

                    </div> -->

                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'isfahan.png' %}">

                    </div>

                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img">
                            <img src="industrial_isfahan.png">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه صنعتی اصفهان</div>
                        </div>

                    </div> -->

                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'industrial_isfahan.png' %}">

                    </div>

                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img">
                            <img src="bahonar.png">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه شهید باهنر کرمان</div>
                        </div>

                    </div> -->

                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'bahonar.png' %}">

                    </div>

                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img">
                            <img src="ferdosi.png">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه فردوسی مشهد</div>
                        </div>

                    </div> -->

                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'tarbiat-modares.png' %}">

                        <div>
                            دانشگاه تربیت مدرس
                        </div>

                    </div>
                    
                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'ferdosi.png' %}">

                    </div>

                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img">
                            <img src="amirkabir.png">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه صنعتی امیرکبیر</div>
                        </div>

                    </div> -->

                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'amirkabir.png' %}">

                    </div>

                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img uni1">
                            <img src="Tarbiat-Modarres.jpg">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه تربیت مدرس</div>
                        </div>

                    </div> -->


                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img uni2">
                            <img src="sistan.jpg">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه سیستان و بلوچستان</div>
                        </div>

                    </div> -->

                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'sistan.png' %}">

                    </div>

                    <!-- <div class="ui centered card hamian_card">

                        <div class="image hamian_card_img">
                            <img src="tabriz.png">
                        </div>

                        <div class="content">
                            <div class="header hamian_card_header">دانشگاه تبریز</div>
                        </div>

                    </div> -->

                    <div class="sponsor">

                        <img class="ui centered image" src="{% static 'tabriz.png' %}">

                    </div>


                </div>

            </div>


        </div>

        <!-- </div> -->


        <script src="{% static 'HomepageJs.js' %}"></script>
        <script>
            $(document).ready(function(){
                $('#content_main_content2').html(
                    $('#content_main_content_second').html()
                )
            })
        </script>
        {% block scripts %}
        {% endblock scripts %}

    </body>






</html>