{% extends 'base.html' %}
{% load static %}


{% block styles %}
<style>

    .format
    {
        font-family:Yekan;
        text-align:center;
    }

</style>
{% endblock styles %}

{% block content %}
<h2 id="header_main_content_second2">

    <i class="calendar alternate icon" style="color:rgb(27, 133, 128) !important;" id="goal_icon_header2"></i>&nbsp تقویم مسابقات
    
</h2>

<div class="text_main_content">

    <div class="ui raised segment" style="width:50%;margin:0 auto 10px;background-color:rgb(149, 210, 212)">
            <!-- background-color:rgb(64, 216, 158) -->
        <h3 class="format">
            تاریخ های مهم
        </h3>
    </div>
    مهلت ارسال آثار : 30 بهمن ماه 98
    <div class="ui divider"></div>
    زمان برگزاری مسابقات : 14 و 15 اسفند ماه 98

</div>
{% endblock content %}