{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>

    .header_judge
    {
        width:100%;
        text-align:center;
        direction:rtl;
        font-family:Yekan;
        font-size:20px;
        font-weight:700;
        margin-bottom:30px;
    }

        .header_table
    {
        width:100%;
        font-family:Yekan;
        text-align:center;
        font-weight:700;
        font-size:17px;
    }

    table, th, td
    {
        border: 1px solid rgb(210,210,210);
        border-collapse: collapse;
        text-align:center;
        direction:rtl;
        font-family:Yekan;
    }

    table
    {
        width:100% !important;
        margin-top:20px;
    }

    th
    {
        text-align:center;
        background-color:rgb(230, 235, 235);
    }

    th, td
    {
        padding:10px;
        /* width:33%; */
    }

    .english
    {
        direction:ltr;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

</style>
{% endblock styles %}

{% block content %}


<div class="ui piled segment" id="content_main_content_second">
                        
    <h2 id="header_main_content_second2">

        <i class="video icon" style="color:rgb(70, 158, 180) !important;" id="goal_icon_header2"></i>&nbsp نماهنگ
        
    </h2>
    <div class="text_main_content">

            <div class="header_judge">

                <i class="balance scale icon" style="float:right;color:rgb(87, 90, 128);"></i>
                قوانین و مقررات نماهنگ
                <i class="balance scale icon" style="float:left;color:rgb(87, 90, 128);"></i>
        
            </div>    
        

                نماهنگ <span class="english">(Video Clip)</span>   : در این بخش هر تیم یک یا حداکثر دو نماهنگ (كلیپ) در رابطه با پدیده های مكانیك سیالات تهیه کرده و در روز مشخصی تحویل می دهد. کمیته‌ی داوران به هر کلیپ با توجه به کیفیت ساخت، موضوع و نوآوری امتیاز می‌دهند. متقاضیان این بخش در گروه‌های 1 یا 2 نفره شركت خواهند كرد و مشاور علمی برای این بخش الزامی نیست.<br />
                <br />
    در این بخش هر تیم یک نماهنگ (كلیپ) در رابطه با پدیده های مكانیك سیالات تهیه می کند.<br />
    قوانین و مقررات نماهنگ:<br />
    <span style="position:relative;left:7px;">1.</span> هر گروه فقط می‌تواند حداکثر دو نماهنگ ارسال نماید.<br />
    <span style="position:relative;left:7px;">2.</span> در مورد رشته و مقطع تحصیلی شرکت‌کنندگان هیچگونه محدودیتی وجود ندارد.<br />
    <span style="position:relative;left:7px;">3.</span> مدت زمان نماهنگ حداکثر دو دقیقه باشد.<br />
    <span style="position:relative;left:7px;">4.</span> هر گروه موظف است شخصاً نماهنگ را تهیه نماید و توضیحاتی را در متن نماهنگ در مورد پدیده‌ی سیالاتی ارایه دهد. مجری نماهنگ باید یكی از اعضای گروه باشد و در آن عنوان شود که برای پنجمین دوره مسابقات مکانيک سیالات تهیه شده است.<br />
    <span style="position:relative;left:7px;">5.</span> در صورت کم بودن وضوح صدا، نماهنگ حتما باید دارای زیرنویس باشد.<br />
    <span style="position:relative;left:7px;">6.</span> حجم هرنماهنگ حداکثرمی‌تواند5۰ مگابایت باشد و با فرمت zip بارگذاری شود.<br />
    <span style="position:relative;left:7px;">7.</span> دبیرخانه‌ی مسابقات آسیب‌های ناشی از نامطلوب بودن ارسال آثار را بر عهده نمی‌گیرد.<br />
    <span style="position:relative;left:7px;">8.</span> نماهنگ‌های ارسالی می توانند تدوین شده باشند. اما ویرایش‌های نرم‌افزاری که جنبه‌ اسنادی نماهنگ را مخدوش کند، ممنوع است. در صورت تدوین، فرد باید فایل اصلی ویرایش نشده‌ی نماهنگ را به هنگام برگزاری مسابقات به همراه داشته باشد. در غیر این‌صورت، فرد از دور مسابقات حذف شده و دبیرخانه مسئولیتی در این قبال نخواهد داشت.<br />
    <span style="position:relative;left:7px;">9.</span> هرگونه دعوی توسط دیگران در رابطه با مالکیت اثر، موجب حذف اثر از مسابقات خواهد شد و دبیرخانه‌ مسابقات هیچگونه مسئولیت و حکمیتی در این مورد نمی‌پذیرد.<br />

    <br>
    <div class="ui divider"></div>

        <div class="header_table">
            جدول امتیاز بندی نماهنگ
        </div>

        <table>

            <tr>
                <th>حداکثر امتیاز</th>
                <th>توضیحات</th>
                <th>جنبه های اثر</th> 
                <th>مصدر داوری</th> 
            </tr>

            <tr>
                <td>30</td>
                <td>پخش نماهنگ در روز مسابقات</td>
                <td>-</td>
                <td>تماشاگران</td>
            </tr>

            <tr>
                <td>15</td>
                <td>کیفیت و خلاقیت</td>
                <td rowspan=3>هنری و خلاقیت</td>
                <td rowspan=6>داوران</td>
            </tr>

            <tr>
                <td>15</td>
                <td>انتخاب موضوع و نوآوری</td>
            </tr>

            <tr>
                <td>30</td>
                <th>مجموع</th>
            </tr>

            <tr>
                <td>15</td>
                <td>ساخت یک وسیله یا سامانه برای انجام آزمایش</td>
                <td>فناوری</td>
            </tr>

            <tr>
                <td>25</td>
                <td>توضیحات علمی و تشریح پدیده در کلیپ</td>
                <td>علمی</td>
            </tr>

            <tr>
                <td>100</td>
                <th>مجموع امتیاز</th>
                <td></td>
            </tr>


        </table>


    </div>
</div>
{% endblock content %}