{% extends 'base.html' %}
{% load static %}

{% block content %}


<h2 id="header_main_content_second2">

    <i class="video icon" style="color:rgb(70, 158, 180) !important;" id="goal_icon_header2"></i>&nbsp نماهنگ
    
</h2>
<div class="text_main_content">
        <h3 style="text-align: center;font-family:Yekan;">قوانین و مقررات نماهنگ</h3 style="text-align: center;">
            نماهنگ (Video Clip)   : در این بخش هر تیم یک یا حداکثر دو نماهنگ (كلیپ) در رابطه با پدیده های مكانیك سیالات تهیه کرده و در روز مشخصی تحویل می دهد. کمیته‌ی داوران به هر کلیپ با توجه به کیفیت ساخت، موضوع و نوآوری امتیاز می‌دهند. متقاضیان این بخش در گروه‌های 1 یا 2 نفره شركت خواهند كرد و مشاور علمی برای این بخش الزامی نیست.<br />
            <br />
در این بخش هر تیم یک نماهنگ (كلیپ) در رابطه با پدیده های مكانیك سیالات تهیه می کند.<br />
قوانین و مقررات نماهنگ:<br />
<span style="position:relative;left:7px;">1.</span> هر گروه فقط می‌تواند حداکثر دو نماهنگ ارسال نماید.<br />
<span style="position:relative;left:7px;">2.</span> در مورد رشته و مقطع تحصیلی شرکت‌کنندگان هیچگونه محدودیتی وجود ندارد.<br />
<span style="position:relative;left:7px;">3.</span> مدت زمان نماهنگ حداکثر دو دقیقه باشد.<br />
<span style="position:relative;left:7px;">4.</span> هر گروه موظف است شخصاً نماهنگ را تهیه نماید و توضیحاتی را در متن نماهنگ در مورد پدیده‌ی سیالاتی ارایه دهد. مجری نماهنگ باید یكی از اعضای گروه باشد و در آن عنوان شود که برای پنجمین دوره مسابقات مکانيک سیالات تهیه شده است.<br />
<span style="position:relative;left:7px;">5.</span> در صورت کم بودن وضوح صدا، نماهنگ حتما باید دارای زیرنویس باشد.<br />
<span style="position:relative;left:7px;">6.</span> حجم هرنماهنگ حداکثرمی‌تواند5۰ مگابایت باشد و با فرمت zip بارگذاری شود.<br />
<span style="position:relative;left:7px;">7.</span> دبیرخانه‌ی مسابقات آسیب‌های ناشی از نامطلوب بودن ارسال آثار را بر عهده نمی‌گیرد.<br />
<span style="position:relative;left:7px;">8.</span> نماهنگ‌های ارسالی می توانند تدوین شده باشند. اما ویرایش‌های نرم‌افزاری که جنبه‌ اسنادی نماهنگ را مخدوش کند، ممنوع است. در صورت تدوین، فرد باید فایل اصلی ویرایش نشده‌ی نماهنگ را به هنگام برگزاری مسابقات به همراه داشته باشد. در غیر این‌صورت، فرد از دور مسابقات حذف شده و دبیرخانه مسئولیتی در این قبال نخواهد داشت.<br />
<span style="position:relative;left:7px;">9.</span> هرگونه دعوی توسط دیگران در رابطه با مالکیت اثر، موجب حذف اثر از مسابقات خواهد شد و دبیرخانه‌ مسابقات هیچگونه مسئولیت و حکمیتی در این مورد نمی‌پذیرد.<br />


<h3 style="text-align: center;font-family:Yekan;">جدول امتیاز بندی نماهنگ</h3 style="text-align: center;">
<div style="text-align: center">

<table dir="rtl" width="612" cellspacing="0" cellpadding="7">
<tbody>
<tr>
<td width="71">
<p ><span ><span lang="ar-SA"><span ><span ><span ><span lang="fa-IR"><strong>حداکثر امتیاز</strong></span></span></span></span></span></span></p>
</td>
<td width="232">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>توضیحات</strong></span></span></span></span></span></p>
</td>
<td width="126">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>جنبه های اثر</strong></span></span></span></span></span></p>
</td>
<td width="125">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>مصدر داوری</strong></span></span></span></span></span></p>
</td>
</tr>
<tr>
<td width="71">
<p ><span ><span ><span ><strong>30</strong></span></span></span></p>
</td>
<td width="232">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>پخش نماهنگ در روز مسابقات</strong></span></span></span></span></span></p>
</td>
<td width="126">
<p ><span ><span ><span ><strong>-</strong></span></span></span></p>
</td>
<td width="125">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>تماشاگران</strong></span></span></span></span></span></p>
</td>
</tr>
<tr>
<td width="71">
<p ><span ><span ><span ><strong>15</strong></span></span></span></p>
</td>
<td width="232">
<p ><span ><span lang="ar-SA"><span ><span ><span >کیفیت و خلاقیت</span></span></span></span></span></p>
</td>
<td rowspan="2" width="126">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>هنری و خلاقیت</strong></span></span></span></span></span></p>
</td>
<td rowspan="5" width="125">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>داوران</strong></span></span></span></span></span></p>
</td>
</tr>
<tr>
<td width="71">
<p ><span ><span ><span ><strong>15</strong></span></span></span></p>
</td>
<td width="232">
<p ><span ><span lang="ar-SA"><span ><span ><span >انتخاب موضوع و نوآوری</span></span></span></span></span></p>
</td>
</tr>
<tr>
<td width="71">
<p ><span ><span ><span ><strong>15</strong></span></span></span></p>
</td>
<td width="232">
<p ><span ><span lang="ar-SA"><span ><span ><span >ساخت یک وسیله یا سامانه برای انجام آزمایش</span></span></span></span></span></p>
</td>
<td width="126">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>فناوری</strong></span></span></span></span></span></p>
</td>
</tr>
<tr>
<td width="71">
<p ><span ><span ><span ><strong>25</strong></span></span></span></p>
</td>
<td width="232">
<p ><span ><span lang="ar-SA"><span ><span ><span >توضیحات علمی و تشریح پدیده در کلیپ</span></span></span></span></span></p>
</td>
<td width="126">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>علمی</strong></span></span></span></span></span></p>
</td>
</tr>
<tr>
<td width="71">
<p ><span ><span ><span ><strong>100</strong></span></span></span></p>
</td>
<td width="232">
<p ><span ><span lang="ar-SA"><span ><span ><span ><strong>مجموع امتیاز</strong></span></span></span></span></span></p>
</td>
<td width="126">
<p ><span >&nbsp;</span></p>
</td>
</tr>
</tbody>
</table>
</div>

</div>
{% endblock content %}