{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>

    .contact
    {
        width:100%;
        font-family:Yekan;
        direction:rtl;
    }

    .contact_header
    {
        width:100%;
        font-size:24px;
        direction:rtl;
        font-weight:700;
        text-align:right;
    }

    .contact_content_persian
    {
        width:100%;
        padding-right:6px;
        direction:rtl;
        text-align:center;
        font-weight:700;
        font-size:16px;
    }

    .contact_content_eng
    {
        width:100%;
        direction:ltr;
        text-align:center;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight:700;
        font-size:17px;
    }

    .map.marker.alternate.icon
    {
        color:red;
    }

    .phone.icon
    {
        color:rgb(27, 83, 148);
    }

    .fax.icon
    {
        color:rgb(87, 201, 115);
    }

    .envelope.icon
    {
        color:rgb(66, 137, 179);
    }

</style>
{% endblock styles %}

{% block content %}

<div class="ui piled segment" id="content_main_content_second">
                            
    <h2 id="header_main_content_second2">

        <i class="phone icon" style="color:rgb(27, 83, 148);" id="goal_icon_header2"></i>&nbsp تماس با ما
        
    </h2>

    <div class="text_main_content">

        <div class="contact">
            <div class="contact_header">
                <i class="map marker alternate icon"></i>
                آدرس دبیرخانه<br />
            </div>
            <br>

            <div class="contact_content_persian">
                شیراز – خیابان زند - دانشکده مهندسی ۱ - بخش مهندسی راه، ساختمان و محیط زیست 
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="contact">
            <div class="contact_header">
                <i class="phone icon"></i>
                شماره تلفن دبیرخانه<br />
            </div>
            <br>

            <div class="contact_content_eng">
                    (071) 36474028
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="contact">
            <div class="contact_header">
                <i class="fax icon"></i>
                فاکس<br />
            </div>
            <br>

            <div class="contact_content_eng">
                (071) 36474027
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="contact">
            <div class="contact_header">
                <i class="envelope icon"></i>
                پست الکترونیک<br />
            </div>
            <br>

            <div class="contact_content_eng">
                5sfmc@shirazu.ac.ir
            </div>
        </div>


    </div>
</div>
{% endblock content %}