{% extends 'panel_base.html' %}
{% load static %}

{% block styles %}
<style>
.field input[type=text]{
    border: 1px solid #cdcdcd;
}
.ui.input {
    padding: 5px;
}
.rtl {
    flex-direction: row-reverse;
    text-align: right;
    direction: rtl;
}

#reg-form input[type=text] {
    text-align: right;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container .checkbox-header {
    padding: 10px 2px;
    font-weight: bold;
}

.checkbox-container .field {
    padding: 10px;
}
</style>
{% endblock styles %}


{% block content %}


<div dir="rtl" class="ui center aligned grid" style="direction: rtl; padding-top: 100px; background-color: #fafafa;">
    <div class="fourteen wide mobile ten wide tablet ten wide computer column">
        <div class="ui piled segment" id="content_main_content_second">
            <div class="text_main_content">
              <h3 class="ui right aligned header" style="margin-top: 13px;">صورت حساب</h3>
              <p>هزینه قابل پرداخت</p>
              <p>{{to_pay_amount}}</p>
              <a href="{% url 'dorm:pay_bill' %}">پرداخت</a>
            </div>
        </div>
    </div>
</div>



{% for dorm_user in dorm_users %}

<div dir="rtl" class="ui center aligned grid" style="direction: rtl; padding-top: 100px; background-color: #fafafa;">
  <div class="fourteen wide mobile ten wide tablet ten wide computer column">
    <div class="ui piled segment" id="content_main_content_second">
      <div class="text_main_content">
        <p>نام : {{dorm_user.name}}</p>
        <p>کد ملی : {{dorm_user.national_id}}</p>
        <p>جنسیت  : {% if dorm_user.sex %}خانم{% else %}آقا{%endif%}</p>
        {% if dorm_user.day1 %}
        <p>13 اسفند</p>
        {% endif %}
        {% if dorm_user.day2 %}
        <p>14 اسفند</p>
        {% endif %}
        <img style="width: 300px;height: 200px;" src="/media/{{dorm_user.student_card_image}}">
        <img style="width: 300px;height: 200px;" src="/media/{{dorm_user.national_card_image}}">
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div dir="rtl" class="ui center aligned grid" style="direction: rtl; padding-top: 100px; background-color: #fafafa;">
    <div class="fourteen wide mobile ten wide tablet ten wide computer column">
        <form @submit="submitForm" class="ui from rtl" id="reg-form" method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <input type="hidden" name="form_data_json" :value="formDataJson" />
        {% verbatim %}
            <input type="hidden" name="active_members" :value="activeMembers">
            <template v-if="anyMemberAdded">
                <h3 class="ui right aligned header" style="margin-top: 13px;">مشخصات اعضا</h3>

                <div class="ui padded raised right aligned segment" v-for="(member, i) in members" v-if="!member.is_delete">
                  <div class="ui form">
                    <div class="fields">
                      <div class="field">
                        <div class="ui input">
                            <input type="text" v-model="member.name" required placeholder="نام و نام خانوادگی" :name="'member_' + i + '_name'">
                        </div>
                        <div class="ui input">
                            <input type="tel" pattern="[0-9]{10}" v-model="member.national_id" required placeholder="کد ملی" :name="'member_' + i + '_national_id'">
                        </div>
                        <div class="inline fields">
                            <label>جنسیت</label>
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" :name="'member_' + i + '_sex'" value="0" checked="checked">
                                <label>آقا</label>
                              </div>
                            </div>
                            <div class="field">
                              <div class="ui radio checkbox">
                                <input type="radio" :name="'member_' + i + '_sex'" value="1" >
                                <label>خانم</label>
                              </div>
                            </div>
                          </div>

                        <div class="ui input">
                            <label :for="'member_' + i + '_student_card_image'" style="padding: 10px;">عکس کارت دانشجویی</label>
                            <input type="file" accept="image/*" required :name="'member_' + i + '_student_card_image'">
                        </div>
                        <div class="ui input">
                            <label :for="'member_' + i + '_national_card_image'" style="padding: 10px;">عکس کارت ملی</label>
                            <input type="file" accept="image/*" required :name="'member_' + i + '_national_card_image'">
                        </div>


                        <div class="ui checked checkbox">
                          <input type="checkbox" v-model="member.day1" name="day1" checked="" :name="'member_' + i + '_day1'">
                          <label>13 اسفند</label>
                        </div>
                        <div class="ui checked checkbox">
                          <input type="checkbox" v-model="member.day2" name="day1" checked="" :name="'member_' + i + '_day2'">
                          <label>14 اسفند</label>
                        </div>
                      </div>

                    </div>
                    <div class="ui red button" style="margin-top: 10px;" @click="removeMember(member)">حذف عضو</div>
                  </div>
                </div>

            </template>

            <div class="ui button" @click="addMember">افزودن عضو</div>
            <input type="submit" value="تایید" class="ui primary button" />
        </form>
        {% endverbatim %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'vue.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.ui.checkbox').checkbox();
    })
</script>
<script>
    new Vue({
        el: '#reg-form',
        computed: {
            anyMemberAdded(){
                for (let i = 0; i < this.members.length; i++)
                    if(!this.members[i].is_delete)
                        return true;
                return false;
            },
            activeMembers(){
                const allMembers = [];
                this.members.forEach((el, i) => {
                    if(!el.is_delete){
                        allMembers.push(i);
                    };
                });
                return allMembers.join(',');
            }
        },
        data: {
            formDataJson: '',
            members: [

            ]
        },
        methods: {
            handleCheckBoxChange(member, member_competition_field, i){
                if(member.is_delete){
                    return;
                }
              },
            addMember(){
                const newMember = {
                    name: '',
                    national_id: '',
                    sex: false,
                    day1: false,
                    day2: false,
                    is_delete: false,
                };
                this.members.push(newMember)
            },
            removeMember(member){
                member.is_delete = true;
            },
            submitForm(e){
                let formValid = true;;

                this.formDataJson = JSON.stringify({
                    members: this.members
                });
                return true;
            }
        },
        created(){
            let formDataJsonString = '{{ form_data_json | safe }}';
            if(formDataJsonString){
                console.log('saved form data loaded')
                this.formDataJson = JSON.parse(formDataJsonString);
                this.members = this.formDataJson.members
            }

            console.log('created');
        },
        mounted(){
            console.log('mounted');
        },
        updated(){
            $('.ui.checkbox').checkbox();
        }
    });
</script>
{% endblock scripts %}
