{% extends 'panel_base.html' %}
{% load static %}

{% block styles %}
<style>
.field input[type=text]{
    border: 1px solid #cdcdcd;
}
.ui.input {
    padding: 5px;
}
.rtl {
    flex-direction: row-reverse;
    text-align: right;
    direction: rtl;
}

#reg-form input[type=text] {
    text-align: right;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container .checkbox-header {
    padding: 10px 2px;
    font-weight: bold;
}

.checkbox-container .field {
    padding: 10px;
}
</style>
{% endblock styles %}


{% block content %}


<div dir="rtl" class="ui center aligned grid" style="direction: rtl; padding-top: 100px; background-color: #fafafa;">
    <div class="fourteen wide mobile ten wide tablet ten wide computer column">
        <div class="ui piled segment" id="content_main_content_second">
            <div class="text_main_content">
              <h3 class="ui right aligned header" style="margin-top: 13px;">صورت حساب</h3>
                {% if to_pay_amount %}
                <p>هزینه قابل پرداخت</p>
                <p>{{to_pay_amount}}هزار تومان</p>
                <a href="{% url 'dorm:pay_bill' %}">پرداخت</a>
                {% else %}
                <p>شما کل هزینه خوابگاه را پرداخت کردید</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>



{% for dorm_user in dorm_users %}

<div dir="rtl" class="ui center aligned grid" style="direction: rtl; padding-top: 100px; background-color: #fafafa;">
  <div class="fourteen wide mobile ten wide tablet ten wide computer column">
    <div class="ui piled segment" id="content_main_content_second">
      <div class="text_main_content">
        <p>نام : {{dorm_user.name}}</p>
        <p>کد ملی : {{dorm_user.national_id}}</p>
        <p>جنسیت  : {% if dorm_user.gender %}خانم{% else %}آقا{%endif%}</p>
        <p>
        تاریخ های انتخاب شده:
        </p>
        {% if dorm_user.day1 %}
        <p>شب اول</p>
        {% endif %}
        {% if dorm_user.day2 %}
        <p>شب دوم</p>
        {% endif %}
        <img style="width: 300px;height: 200px;" src="/media/{{dorm_user.student_card_image}}">
        <img style="width: 300px;height: 200px;" src="/media/{{dorm_user.national_card_image}}">
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
