{% load static %}
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>مسابقات ملی دانشجویی مکانیک سیالات</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'HomepageStyle.css' %}"/>
        <link rel="stylesheet" href="{% static 'semantic-ui/2.4.1/semantic.min.css' %}">
        <link rel="stylesheet" href="{% static 'semantic-ui/semantic.rtl.helper.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'semantic-ui/2.4.1/semantic.min.js' %}"></script>

        <style>
            body, p, h1, h2, h3, h4, h5, h6, a, label, input, button, div {
                font-family: Yekan !important;
            }
        </style>
        {% block styles %}
        {% endblock styles %}

    </head>





    <body>





        <div id="fixed_menu">

            <i class="bars icon" id="icon_bars_fm"></i>

            <div class="ui large pointing dropdown link item" id="home_fm" href="#">
                <span id="home_span">
                <i class="angle down icon" id="icon_home"></i>
                پنل کاربری
                </span>
                <div class="menu" id="home_menu">
                    <a class="item item_home" href="{% url 'index' %}">صفحه اصلی</a>
                    <a class="item item_home" href="#">پنل کاربری</a>
                </div>
            </div>

            <!-- <a id="sign_fm" href="#">
                ثبت نام
            </a>

            <a id="login_fm" href="#">
                ورود
            </a> -->

        </div>

        {% block content %}
        {% endblock content %}

        <script src="{% static 'HomepageJs.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}

    </body>






</html>