{% extends 'base.html' %}
{% load static %}

{% block content %}


                    

<h2 id="header_main_content_second2">

    <i class="image icon" id="goal_icon_header2"></i> پوستر و لوگو

</h2>

<!-- <div class="ui divider"></div> -->


<div class="text_main_content" style="text-align: center;">
    <img src="{% static 'poster.jpg' %}" style="width: 60%; min-width: 300px; margin: auto;" alt="" />
    <br />
    <img src="{% static 'logo.png' %}" style="width: 200px; margin: auto;" alt="" />
</div>

{% endblock content %}