{% extends 'panel_base.html' %}
{% load static %}

{% block styles %}
<style>
.field input[type=text]{
    border: 1px solid #cdcdcd;
}
.ui.input {
    padding: 5px;
}
.rtl {
    flex-direction: row-reverse;
    text-align: right;
    direction: rtl;
}

#reg-form input[type=text] {
    text-align: right;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container .checkbox-header {
    padding: 10px 2px;
    font-weight: bold;
}

.checkbox-container .field {
    padding: 10px;
}
</style>
{% endblock styles %}


{% block content %}

<div dir="rtl" class="ui center aligned grid" style="direction: rtl; padding-top: 100px; background-color: #fafafa;">
    <div class="fourteen wide mobile ten wide tablet ten wide computer column">
        {% if registration_error %}
        <div class="ui message error" style="text-align: right;">
            {{ registration_error }}
        </div>
        {% endif %}
        <div class="ui message info" style="text-align: right;">
            قبلا ثبت نام کرده اید؟  <a style="padding: 0px 4px; text-decoration: underline" href="{% url 'login' %}">وارد شوید</a>
        </div>
        <form @submit="submitForm" class="ui from rtl" id="reg-form" method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <input type="hidden" name="form_data_json" :value="formDataJson" />
                <input type="hidden" name="active_members" :value="activeMembers">
                    <h3 class="ui right aligned header" style="margin-top: 13px;">مشخصات فردی</h3>

                    <div class="ui padded raised right aligned segment">
                    <div class="ui form">
                        <div class="fields">
                        <div class="field">
                            <div class="ui input" style="width: 200px;">
                                <input type="text" required placeholder="نام و نام خانوادگی" name="name">
                            </div>
                            <div class="ui input" style="width: 200px;">
                                <input type="number" pattern="[0-9]{10}" required placeholder="کد ملی" name="national_id">
                            </div>
                            <div class="inline fields">
                                <label>جنسیت</label>
                                <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="gender" value="0" checked="checked">
                                    <label>آقا</label>
                                </div>
                                </div>
                                <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="gender" value="1" >
                                    <label>خانم</label>
                                </div>
                                </div>
                            </div>

                            <div class="ui input" style="max-width: 350px;">
                                <label :for="student_card_image" style="padding: 10px;">عکس کارت دانشجویی</label>
                                <input type="file" accept="image/*" required name="student_card_image">
                            </div>
                            <div class="ui input" style="max-width: 350px;">
                                <label :for="national_card_image" style="padding: 10px;">عکس کارت ملی</label>
                                <input type="file" accept="image/*" required name="national_card_image">
                            </div>

                            <br />
                            <div class="ui checkbox">
                                <input type="checkbox" name="day1">
                                <label>13 اسفند</label>
                            </div>
                            <div class="ui checkbox">
                                <input type="checkbox" name="day2">
                                <label>14 اسفند</label>
                            </div>

                            <br />
                            <div class="ui input" style="width: 200px;">
                                <input type="password" required placeholder="کلمه عبور" name="password_1">
                            </div>
                            <div class="ui input" style="width: 200px;">
                                <input type="password" required placeholder="تکرار کلمه عبور" name="password_2">
                            </div>
                        </div>

                        </div>
                    </div>
                    </div>
                <input type="submit" value="تایید" class="ui primary button" />
            </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
