{% extends 'panel_base.html' %}
{% load static %}

{% block styles %}
<style>
.field input[type=text]{
    border: 1px solid #cdcdcd;
}

.rtl {
    flex-direction: row-reverse;
    text-align: right;
    direction: rtl;
}

#reg-form input[type=text] {
    text-align: right;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container .checkbox-header {
    padding: 10px 2px;
    font-weight: bold;
}

.checkbox-container .field {
    padding: 10px;
}
</style>
{% endblock styles %}


{% block content %}

<div dir="rtl" class="ui center aligned grid" style="direction: rtl; padding-top: 100px; background-color: #fafafa;">
    <div class="fourteen wide mobile ten wide tablet ten wide computer column">
        <div class="ui message info" style="text-align: right;">
            تعداد نفرات مجاز هر تیم:
            <ul>
                {% for competition_field in competition_fields %}
                    <li>{{ competition_field.name }}: {{ competition_field.team_member_limit_min }} تا {{ competition_field.team_member_limit_max }} نفر</li>
                {% endfor %}
            </ul>
        </div>
        <form @submit="submitForm" class="ui from rtl" id="reg-form" method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {% verbatim %}
            <input type="hidden" name="active_members" :value="activeMembers">

            <h3 class="ui right aligned header" style="margin-top: 13px;">اطلاعات کلی</h3>
            <div class="ui padded raised right aligned segment">
                
                <div class="fields">

                    <div class="inline fields checkbox-container">
                        <label class="checkbox-header" for="team_type">نوع ثبت نام: </label>
                        <div class="field" v-for="valid_team_type in valid_team_types">
                        <div class="ui radio checkbox">
                            <input type="radio" name="team_type" :value="valid_team_type.value" v-model="team_type" tabindex="0" class="hidden">
                            <label>{{ valid_team_type.title }}</label>
                        </div>
                        </div>
                    </div>

                    <div class="inline fields checkbox-container" v-if="team_type == '0'">
                        <label class="checkbox-header">آیتم ها: </label>

                        <div class="inline field" v-for="competition_field in competition_fields" :key="competition_field.pk">
                            <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" :name="'competition_' + competition_field.pk" v-model="competition_field.is_selected" class="hidden">
                            <label>{{ competition_field.name }}</label>
                            </div>
                        </div>

                    </div>

                </div>
                
            </div>

            <div class="ui padded raised right aligned segment">

                <h3 class="ui right aligned header">سرگروه</h3>
                <div class="fields">

                    <div class="field">
                        <div class="ui input">
                            <input type="text" v-model="manager.name" required placeholder="نام و نام خانوادگی" name="manager_name">
                        </div>
                        <div class="ui input">
                            <input type="email" v-model="manager.email" required placeholder="ایمیل" name="manager_email">
                        </div>
                        <div class="ui input">
                            <input type="tel"
                            pattern="[0-9]{11}" v-model="manager.phone_number" required placeholder="شماره تلفن" name="manager_phone">
                        </div>

                        <template v-if="team_type == '2'">
                            <div class="ui input">
                                <input type="text" v-model="manager.organization" required placeholder="سازمان" name="manager_organization">
                            </div>
                            <div class="ui input" style="padding-top: 10px;">
                                <label for="manager_national_card" style="margin-top: 10px; padding: 3px;">عکس کارت ملی</label>
                                <input type="file" required id="manager_national_card" name="manager_national_card">
                            </div>
                        </template>

                        <template v-else>
                            <div class="ui input">
                                <input type="text" v-model="manager.university" required placeholder="دانشگاه" name="manager_university">
                            </div>
                            <div class="ui input" style="padding-top: 10px;">
                                <label for="manager_student_card" style="margin-top: 10px; padding: 3px;">عکس کارت دانشجویی</label>
                                <input type="file" required name="manager_student_card">
                            </div>
                        </template>

                    </div>


                    <div class="inline fields checkbox-container" v-if="team_type == '0' && anyItemSelected">
                        <label class="checkbox-header">آیتم ها: </label>

                        <div class="inline field" v-for="competition_field in competition_fields" :key="competition_field.pk" v-if="competition_field.is_selected">
                            <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" disabled :name="'competition_' + competition_field.pk" checked class="hidden">
                            <label>{{ competition_field.name }}</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <template v-if="team_type == '0' && anyItemSelected">

                <h3 class="ui right aligned header" style="margin-top: 13px;">مشخصات آیتم ها</h3>
                <div class="ui padded raised right aligned segment" v-for="competition_field in competition_fields" v-if="competition_field.is_selected">
                    
                    <div class="fields">
                        <h3 class="ui right aligned header">{{ competition_field.name }}</h3>
                        <div class="field">
                            <div class="ui input">
                                <input type="text" v-model="competition_field.team_name" required placeholder="نام گروه" :name="'competition_' + competition_field.pk + '_team_name'">
                            </div>
                        </div>


                        <div class="field" v-if="competition_field.needs_advisor">
                            <h4 class="ui right aligned header" style="margin-top: 13px;">مشخصات مشاور هیئت علمی</h4>
                            <div class="ui input">
                                <input type="text" v-model="competition_field.advisor.name" required placeholder="نام و نام خانوادگی" :name="'competition_' + competition_field.pk + '_advisor_name'">
                            </div> 
                            <div class="ui input">
                                <input type="email" v-model="competition_field.advisor.email" required placeholder="ایمیل" :name="'competition_' + competition_field.pk + '_advisor_email'">
                            </div> 
                            <div class="ui input">
                                <input type="text" v-model="competition_field.advisor.university" required placeholder="نام دانشگاه" :name="'competition_' + competition_field.pk + '_advisor_university'">
                            </div> 
                        </div>
    
                    </div>
    
                </div>
            </template>

            <template v-if="team_type == '0' && anyMemberAdded">

                <h3 class="ui right aligned header" style="margin-top: 13px;">مشخصات اعضا</h3>

                <div class="ui padded raised right aligned segment" v-for="(member, i) in members" v-if="!member.is_delete">
                    <h3 class="ui right aligned header">عضو گروه</h3>
                    <div class="fields">

                        <div class="field">
                            <div class="ui input">
                                <input type="text" v-model="member.name" required placeholder="نام و نام خانوادگی" :name="'member_' + i + '_name'">
                            </div>
                            <div class="ui input">
                                <input type="email" v-model="member.email" required placeholder="ایمیل" :name="'member_' + i + '_email'">
                            </div>
                            <div class="ui input">
                                <input type="tel"
                                pattern="[0-9]{11}" v-model="member.phone_number" required placeholder="شماره تلفن" :name="'member_' + i + '_phone_number'">
                            </div>

                            <div class="ui input">
                                <input type="text" v-model="member.university" required placeholder="دانشگاه" :name="'member_' + i + '_university'">
                            </div>
                            <div class="ui input" style="padding-top: 10px;">
                                <label :for="'member_' + i + '_student_card_image'" style="margin-top: 10px; padding: 3px;">عکس کارت دانشجویی</label>
                                <input type="file" required :name="'member_' + i + '_student_card_image'">
                            </div>

                        </div>


                        <div class="inline fields checkbox-container" v-if="team_type == '0' && anyItemSelected">
                            <label class="checkbox-header">آیتم ها: </label>

                            <div class="inline field" v-for="member_competition_field in member.competition_fields" v-if="competition_fields.find(el=>el.pk == member_competition_field.pk).is_selected" :key="member_competition_field.pk">
                                <div class="ui checkbox" :id="'member_' + i + '_competition_' + member_competition_field.pk">
                                <input type="checkbox" tabindex="0" @change="handleCheckBoxChange(member, member_competition_field, i)" :name="'member_' + i + '_competition_' + member_competition_field.pk" v-model="member_competition_field.is_selected" class="hidden">
                                <label>{{ member_competition_field.name }}</label>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="ui red button" style="margin-top: 10px;" @click="removeMember(member)">حذف عضو</div>
                </div>

            </template>

            <div v-if="team_type == '0'" class="ui primary button" @click="addMember">افزودن عضو</div>
            <input type="submit" value="ثبت نام" class="ui primary button" />
        </form>
        {% endverbatim %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'vue.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.ui.checkbox').checkbox();
    })
</script>
<script>
    new Vue({
        el: '#reg-form',
        computed: {
            anyMemberAdded(){
                for (let i = 0; i < this.members.length; i++)
                    if(!this.members[i].is_delete)
                        return true;
                return false;
            },
            anyItemSelected(){
                for (let i = 0; i < this.competition_fields.length; i++)
                    if(this.competition_fields[i].is_selected)
                        return true;
                return false;
            },
            activeMembers(){
                const allMembers = [];
                this.members.forEach((el, i) => {
                    if(!el.is_delete){
                        allMembers.push(i);
                    };
                });
                return allMembers.join(',');
            }
        },
        data: {
            valid_team_types: [
                {% for valid_team_type in valid_team_types %}
                    {
                        title: '{{ valid_team_type.title }}',
                        value: '{{ valid_team_type.value }}',
                    },
                {% endfor %}
            ],
            team_type: '0',
            manager: {
                name: '',
                email: '',
                phone_number: '',
                university: '',
                organization: '',
                is_delete: false,
                competition_fields: []
            },
            competition_fields: [
                {% for competition_field in competition_fields %}
                {
                    pk: {{ competition_field.pk }},
                    name: '{{ competition_field.name }}',
                    team_member_limit_min: {{ competition_field.team_member_limit_min }},
                    team_member_limit_max: {{ competition_field.team_member_limit_max }},
                    needs_advisor: '{{ competition_field.needs_advisor }}' === 'True',
                    
                    {% if competition_field.needs_advisor %}
                    advisor: {
                        name: '',
                        email: '',
                        university: ''
                    },
                    {% endif %}

                    is_selected: false,
                    team_name: '',
                },
                {% endfor %}
            ],
            members: [

            ]
        },
        methods: {
            membersCount(competition_field){
                let i = 1; // The manager is already enrolled
                this.members.forEach(member => {
                    if(member.competition_fields.find(el => el.pk == competition_field.pk).is_selected){
                        i++;
                    }
                });
                console.log(competition_field.name, i);
                return i;
            },
            handleCheckBoxChange(member, member_competition_field, i){
                if(member.is_delete){
                    return;
                }
                const competition_field = this.competition_fields.find(el => el.pk == member_competition_field.pk)
                console.log(member_competition_field)
                console.log(competition_field)
                if(member_competition_field.is_selected){
                    if(this.membersCount(competition_field) > competition_field.team_member_limit_max){
                        alert('تعداد نفرات تیم ' + competition_field.name + ' باید بین ' + competition_field.team_member_limit_min + ' و ' + competition_field.team_member_limit_max + ' نفر باشد.')
                        member_competition_field.is_selected = false;
                        $('#' + 'member_' + i + '_competition_' + member_competition_field.pk).checkbox('set unchecked');
                    }
                } else {
                    if(this.membersCount(competition_field) < competition_field.team_member_limit_min){
                        alert('تعداد نفرات تیم ' + competition_field.name + ' باید بین ' + competition_field.team_member_limit_min + ' و ' + competition_field.team_member_limit_max + ' نفر باشد.')
                        member_competition_field.is_selected = true;
                        $('#' + 'member_' + i + '_competition_' + member_competition_field.pk).checkbox('set checked');
                    }
                }
            },
            addMember(){
                const newMember = {
                    name: '',
                    email: '',
                    phone_number: '',
                    university: '',
                    organization: '',
                    is_delete: false,
                    competition_fields: []
                };
                this.competition_fields.forEach(competition_field => {
                    const member_competition_field = Object.assign({}, competition_field)
                    
                    if(competition_field.is_selected){
                        member_competition_field.is_selected = member_competition_field.team_member_limit_max > this.membersCount(competition_field);
                    }

                    
                    newMember.competition_fields.push(member_competition_field);
                });

                this.members.push(newMember)
            },
            removeMember(member){
                member.is_delete = true;

                member.competition_fields.forEach(competition_field => {
                    competition_field.is_selected = false;
                });
            },
            submitForm(e){
                let formValid = true;

                this.competition_fields.forEach(competition_field => {
                    if(competition_field.is_selected
                        && (
                                competition_field.team_member_limit_min > this.membersCount(competition_field)
                                || competition_field.team_member_limit_max < this.membersCount(competition_field)
                            )
                        ){
                        formValid = false;
                        alert('تعداد نفرات تیم ' + competition_field.name + ' باید بین ' + competition_field.team_member_limit_min + ' و ' + competition_field.team_member_limit_max + ' نفر باشد.')
                    }
                });

                if(!formValid){
                    e.preventDefault();
                } else {
                    return true;
                }
            }
        },
        created(){
            console.log('created');
        },
        mounted(){
            console.log('mounted');
        },
        updated(){
            $('.ui.checkbox').checkbox();
        }
    });
</script>
<script>
    var member_clone;
    var form;




    $(document).ready(function () {
        // $('#checkBtn').click(function() {
        //   checked = $("input[type=checkbox]:checked").length;

        //   if(!checked) {
        //     alert("You must check at least one checkbox.");
        //     return false;
        //   }
        // });

        // z.appendTo("form")
        // member_clone = z;
        // form = $("form")[0];

        $("#add-btn").click(function(){
            add_member().appendTo("form");
        })
    });


    function add_member(){
        var z = $("#member").clone();
        // console.log(z);
        var member_items = z.find(".team-property");
        // console.log(member_items);
        $(member_items[0]).text("مشخصات عضو");
        $(member_items[1]).remove();
        $(member_items[2]).find("p").text("نام عضو");
        // console.log(z)
        z.removeAttr("id");
        return z;
        }
</script>

{% endblock scripts %}